* {
    outline: 1px solid #000;
}
/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */


h1  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* header element over background video/img covers entire view height*/
.landing-content {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)) */
}


/* Title */
.landing-text {
    color: #fff;
    text-shadow: 2px 2px #000;
    text-align: center;
}

/* Sub text */
.landing-text > h4 {
    font-family: 'Lato', 'sans-serif';
    padding: 10px;
}

/* Link components wrapping buttons */
a {
    margin: 0 10%;
}

.btn-landing {
    font-size: 18px;
    background-color: inherit;
    color: #000;
    border: 3px solid #b07f93;
    border-radius: 5px;
    transition: all .5s;
}

.btn-landing:hover {
    background-color: #9c7fb0;
    color: #fff;
}

.btn-landing:hover:after{
    transition: all .5s;
}


@media (max-width: 600px) {
    video {
        display: none;
    }

    html {
        background-color: blue;
    }
}