@import "../../node_modules/react-alice-carousel/lib/alice-carousel.css";

h3, h4 {
    margin-top: 1rem;
}



.container-profile {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.container-profile > h1 {
    margin: 0;
}

.alice-carousel {
    width: 50%;
    margin: 0 auto;
    /* height: 300px; */
}

.btn-carousel {
    margin: 0 1%;
}

.carousel-item {
    background-color: lightgray;
}

.carousel-item h6 {
    margin-bottom: 0;
}

aside {
    text-align: left;
}

aside .btn {
    margin: 0 2%;
}

aside > a[href="/home"] {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.photo-container {
    display: inline-block;
    width: 60%;

}

.dog-info {
    display: inline-block;
    width: 35%;
    margin: 0 auto;
    background-color: lightgray;
}

.dog-info h4 {
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.bio-content {
    padding: 5px;
}